[auth.generic_oauth]
enabled = true
allow_sign_up = true
team_ids =
allowed_organizations =
name = IAM
client_id = {{ service_grafana_client_id }}
client_secret = {{ service_grafana_client_secret }}
scopes = openid profile email
auth_url = {{ monitoring_iam_url }}/authorize
token_url = {{ monitoring_iam_url }}/token
api_url = {{ monitoring_iam_url }}/userinfo

# ToDO: fix permissions
# role_attribute_path = contains(info.groups[*], 'admin') && 'Admin' || contains(info.groups[*], 'editor') && 'Editor' || 'Viewer'
[security]
cookie_secure=true

[server]
domain = {{ monitoring_server_ip }}
protocol = "https"
cert_file = /usr/local/share/dodasts/certs/grafana/hostcert.pem
cert_key = /usr/local/share/dodasts/certs/grafana/hostcert.key
